<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form id="editForm">
    <div>
        <input type="hidden" value="" id="idEdit" placeholder="id">
    </div>
    <div>
        <label for="firstNameEdit">firstName:</label>
        <input type="text" id="firstNameEdit" placeholder="firstName">
    </div>
    <div>
        <label for="lastNameEdit">lastName:</label>
        <input type="text" id="lastNameEdit" placeholder="lastName">
    </div>
    <div>
        <label for="addressEdit">address:</label>
        <input type="text" id="addressEdit" placeholder="address">
    </div>
    <div>
        <label for="budgetEdit">budget:</label>
        <input type="text" id="budgetEdit" placeholder="budget">
    </div>
    <div>
        <input type="button" id="submitUserEdit" type="button" value="Edit user">
    </div>
</form>


<form id="createForm">
    <div>
        <input type="hidden" value="" id="idCreate" placeholder="id">
    </div>
    <div>
        <label for="firstNameCreate">firstName:</label>
        <input type="text" id="firstNameCreate" placeholder="firstName">
    </div>
    <div>
        <label for="lastNameEdit">lastName:</label>
        <input type="text" id="lastNameCreate" placeholder="lastName">
    </div>
    <div>
        <label for="addressCreate">address:</label>
        <input type="text" id="addressCreate" placeholder="address">
    </div>
    <div>
        <label for="budgetCreate">budget:</label>
        <input type="text" id="budgetCreate" placeholder="budget">
    </div>
    <div>
        <input type="button" id="submitUserCreate" type="button" value="Create user">
    </div>
</form>

<body>
<p id="headline"></p>
<script>
    let tr

    function sendRequest(method, url, body = null) {
        const headers = {
            'Content-Type': 'application/json; charset=UTF-8'
        }
        return fetch(url, {
            method: method,
            headers: headers,
            body: (body === null) ? (null) : (JSON.stringify(body))
        }).then(response =>{
            if (response.ok) {
                return response.json()
            }
            return response.json().then(error => {
                const e = new Error('Ошибка лол')
                e.data = error
            })
        })
    }

    const requestUrl = 'http://localhost:8080/customers/'

    const bodyElem = document.querySelector('body')
    document.getElementById("submitUserEdit").addEventListener("click", setEditedUser)
    document.getElementById("submitUserCreate").addEventListener("click", setCreatedUser)

    const recivedJson = sendRequest('GET', requestUrl)
        .then(data => {
            // console.log(data)
            // console.log(data[2].value)
            return(data)
        })
        .then(data => {
            const myTable= document.createElement('table')
            myTable.setAttribute('id', 'userTable')
            myTable.createTHead()
            myTable.createTBody()
            let myTr = document.createElement('tr')
            let myTd
            // console.log(Object.keys(data[0]))
            Object.keys(data[0]).forEach(key => {
                myTd = document.createElement('th')
                myTd.textContent = key
                myTr.appendChild(myTd)
                // console.log(key)
            })
            let myThEdit = document.createElement('th')
            myThEdit.textContent ='Edit'
            myTr.appendChild(myThEdit)
            let myThDelete = document.createElement('th')
            myThDelete.textContent ='Delete'
            myTr.appendChild(myThDelete)

            myTable.tHead.appendChild(myTr)

            data.forEach(elem => {
                myTr = document.createElement('tr')
                myTr.setAttribute('id', elem.id)

               // myTr.onclick = editUser

                Object.values(elem).forEach(value => {
                    const myTd = document.createElement('td')
                    myTd.textContent = value
                    myTr.appendChild(myTd)
                })
                myThEdit = document.createElement('td')
                myThEdit.textContent ='Edit'
                myThEdit.onclick = editUser
                myTr.appendChild(myThEdit)
                myThDelete = document.createElement('td')
                myThDelete.textContent ='Delete'
                myThDelete.onclick = deleteUser
                myTr.appendChild(myThDelete)
                myTable.appendChild(myTr)
            })

            bodyElem.appendChild(myTable)
        })
        .catch(err => console.log(err))

    editUser = function(){
        let param = event.target.parentNode.id
        tr = event.target.parentNode
        console.log(event.target)
        tr.childNodes.forEach(node => {
            console.log(node.value)
        })
        // document.getElementById("idEdit").setAttribute('value', recivedJson[param].id)
        document.getElementById("idEdit").setAttribute('value', tr.childNodes[0].textContent)
        document.getElementById("firstNameEdit").setAttribute('value', tr.childNodes[1].textContent)
        document.getElementById("lastNameEdit").setAttribute('value', tr.childNodes[2].textContent)
        document.getElementById("addressEdit").setAttribute('value', tr.childNodes[3].textContent)
        document.getElementById("budgetEdit").setAttribute('value', tr.childNodes[4].textContent)
    }

    function setEditedUser() {
        let param = document.getElementById("idEdit").value
        console.log(param)
        // tr.childNodes[1].textContent = recivedJson[param].id
        tr.childNodes[1].textContent = document.getElementById("firstNameEdit").value
        tr.childNodes[2].textContent = document.getElementById("lastNameEdit").value
        tr.childNodes[3].textContent = document.getElementById("addressEdit").value
        tr.childNodes[4].textContent = document.getElementById("budgetEdit").value

        document.getElementById("editForm").reset()
        document.getElementById("idEdit").setAttribute('value', '')
        document.getElementById("firstNameEdit").setAttribute('value', '')
        document.getElementById("lastNameEdit").setAttribute('value', '')
        document.getElementById("addressEdit").setAttribute('value', '')
        document.getElementById("budgetEdit").setAttribute('value', '')

        const qqq = {
            id: tr.childNodes[0].textContent,
            firstName: tr.childNodes[1].textContent,
            lastName: tr.childNodes[2].textContent,
            address: tr.childNodes[3].textContent,
            budget: tr.childNodes[4].textContent
        }
        const uuu = sendRequest('PUT', requestUrl, qqq)
    }

    function setCreatedUser() {
        let param = document.getElementById("idEdit").value
        console.log(param)
        tr = document.createElement('tr')
        for(let i=0; i<7; i++){
            tr.appendChild(document.createElement('td'))
        }

        const table = document.getElementById('userTable')

        tr.childNodes[0].textContent = 1 + parseInt(table.lastElementChild.id)
        tr.childNodes[1].textContent = document.getElementById("firstNameCreate").value
        tr.childNodes[2].textContent = document.getElementById("lastNameCreate").value
        tr.childNodes[3].textContent = document.getElementById("addressCreate").value
        tr.childNodes[4].textContent = document.getElementById("budgetCreate").value
        tr.childNodes[5].textContent = 'Edit'
        tr.childNodes[5].onclick = editUser
        tr.childNodes[6].textContent = 'Delete'
        tr.childNodes[6].onclick = deleteUser
        console.log(table.lastElementChild.id )
        table.appendChild(tr)

        document.getElementById("createForm").reset()
        document.getElementById("idCreate").setAttribute('value', '')
        document.getElementById("firstNameCreate").setAttribute('value', '')
        document.getElementById("lastNameCreate").setAttribute('value', '')
        document.getElementById("addressCreate").setAttribute('value', '')
        document.getElementById("budgetCreate").setAttribute('value', '')

        const qqq = {
            id: tr.childNodes[0].textContent,
            firstName: tr.childNodes[1].textContent,
            lastName: tr.childNodes[2].textContent,
            address: tr.childNodes[3].textContent,
            budget: tr.childNodes[4].textContent
        }
        const uuu = sendRequest('POST', requestUrl, qqq)
    }

    function deleteUser() {
        let param = event.target.parentNode.id
        console.log('Delete id='+param)
        document.getElementById(param).remove()

        const del = sendRequest('DELETE', requestUrl+param)
    }

</script>
</body>
</html>